<mat-tab-group>
     
    <mat-tab label="Atributos de Plantilla" >

        <div class="example-large-box mat-elevation-z4"> 
            <br>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input  matInput [(ngModel)]="plantillaRaice"  placeholder="Raiz de Consecutivo" value=" ">
                </mat-form-field>
                  <br>
  
                <mat-form-field class="example-full-width">
                    <input matInput  [(ngModel)]="plantillaName"  placeholder="Nombre Plantilla" value=" ">
                  </mat-form-field>
  
                  <br>
  
                  <mat-form-field class="example-full-width">
                      <input matInput [(ngModel)]="plantillaDescription"  placeholder="Descripcion de Plantilla" value=" ">
                    </mat-form-field>
  
                    <br>
  
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="plantillaUmbral"  placeholder="Umbral de valoración minimo requerido (%)" value=" ">
                      </mat-form-field>
  
              </form>
  
              <mat-divider class="margen" style="height: 5px;" ></mat-divider>
  
              <button type="button" class="btn btn-danger">Cancelar</button>
              <button type="button" class="btn btn-warning" (click)="CreateRecord()" [disabled]="!plantillaRaice || !plantillaName || !plantillaDescription || !plantillaUmbral" >Siguiente</button>

      </div>

    </mat-tab>
    <mat-tab label="Criterios de Valoracion">
        <div class="example-large-box mat-elevation-z4"> 
            <br>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="criterio de valoracion" value=" ">
                </mat-form-field>
                  <br>
  
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="tipo de criterio" value=" ">
                  </mat-form-field>
  
                  <br>
  
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="ponderacion" value=" ">
                    </mat-form-field>
  
                    <br>
  
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="descripcion de criterio" value=" ">
                      </mat-form-field>
  
              </form>
  
              <mat-divider class="margen" style="height: 5px;" ></mat-divider>
  
              <button type="button" class="btn btn-danger">Cancelar criterio</button>
              <button type="button" class="btn btn-warning">Guardar criterio </button>


      </div>
      <br/> 
      <button type="button" class="btn btn-danger">Atras</button>
      <button type="button" class="btn btn-warning">Guardar Plantilla</button>
    </mat-tab>
  </mat-tab-group>