  <div class="container">
    <h1 style="margin-top: 25px;">

    </h1>
    <div class="row" style="margin-top: 25px;">

      <div class="col-md-8" style="margin-top: 5px">
        <input type="text" class="form-control" [(ngModel)]="criterio" placeholder="Criterio">
      </div>

      <div class="col-md-8" style="margin-top: 5px" >
        <input type="text" class="form-control" [(ngModel)]="ponderacion" placeholder="Ponderacion">
      </div>

      <div class="col-md-8" style="margin-top: 5px">
        <input type="text" class="form-control" [(ngModel)]="valor" placeholder="Valor">
      </div>

      <div class="col-md-8" style="margin-top: 5px">
        <button type="button" class="btn btn-danger">Cancelar</button>
              <button type="button" class="btn btn-warning"  style="margin-left: 5px" (click)="CreateRecord()" [disabled]="!criterio || !ponderacion || !valor " >Siguiente</button>
       </div>
  </div>


  </div>
