<app-usuario></app-usuario>


<h3>Linea de Paginación</h3>
<mat-divider></mat-divider>



<div class="row col-sm-12">
<div class="col-sm-2 a1">
 <br/>
 <div class="link1">
 <button mat-menu-item  class="link" >Listas de chequeo</button>
 <br/>
</div>


 </div>

    <div class="col-sm-10">
<div  *ngIf="mostrar2">
      <button type="button" class="btn btn-warning"   (click)="mostrar1=true"  (click)="mostrar2=false" (click)="mostrar3=false" (click)="mostrar4=false"  >crear evaluacion</button>
    </div>

    <div   *ngIf="mostrar1">



  <div class="container">
    <h1 style="margin-top: 25px;">

    </h1>
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-8" style="margin-top: 5px">
        <input type="text" class="form-control" [(ngModel)]="referencia" placeholder="Referencia">
      </div>
      <div class="col-md-8" style="margin-top: 5px">
        <input type="text" class="form-control" [(ngModel)]="lista" placeholder="Lista de Chequeo">
      </div>



      <div class="col-md-8" style="margin-top: 5px">
        <input type="date" class="form-control" [(ngModel)]="fecha" placeholder="Fecha" disabled>

      </div>

      <div class="col-md-8" style="margin-top: 5px">
        <input type="text" class="form-control" [(ngModel)]="estado" placeholder="Estado">
      </div>

      <div class="col-md-8" style="margin-top: 5px">
        <input type="text" class="form-control" [(ngModel)]="observacion" placeholder="Observacion">
      </div>

      <div class="col-md-8" style="margin-top: 5px">
        <button type="button" class=" btn-primary" data-toggle="modal" data-target="#myModal5" >
          Buscar Plantilla  </button>
      </div>



      <div class="col-md-8" style="margin-top: 5px">
 <button type="button" class="btn btn-danger" (click)="mostrar1=false"(click)="mostrar2=true"  (click)="mostrar3=true" (click)="mostrar4=false"   >Cancelar</button>
 <button type="button" class="btn btn-warning" style="margin-left: 5px"  (click)="CreateRecord(item)"  (click)="mostrar1=false" (click)="mostrar2=true" (click)="mostrar3=true"  (click)="mostrar4=false"  >Siguiente</button>

     </div>
  </div>


  <!-- The Modal -->
<div class="modal fade" id="myModal5">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="l1">Seleccionar Plantilla</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->


      <table class="table table-striped a8 table-hover  table-condensed" >
        <thead>
          <tr>
            <th>Raiz</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>umbral</th>
            <th>opciones</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of plantillas">
            <td>   {{item.Raiz}}</td>
            <td> {{item.Name}} </td>
            <td>   {{item.Description}}</td>
            <td> {{item.Umbral}} </td>
            <td>

                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"  (click)= "plantilla(item)"  data-dismiss="modal">
                      Seleccionar plantilla  </button>



            </td>
          </tr>
        </tbody>
    </table>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>

    </div>
  </div>
</div>


</div>



  </div>


<div  *ngIf="mostrar3" >

  <table class="table table-striped a8 table-hover  table-condensed" >
    <thead>
      <tr>
        <th>#</th>
        <th>Lista</th>
        <th>Autor</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Accion</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item1 of evaluador">
        <td>   {{item1.Referencia}}</td>
        <td> {{item1.Lista}} </td>
        <td>   {{item1.Autor}}</td>
        <td> {{item1.Fecha}} </td>
        <td> {{item1.Estado}} </td>
        <td>

                <button type="button" class="btn btn-primary" data-toggle="modal"   (click)="busqueda3(item1)" (click)="mostrar1=false" (click)="mostrar2=false" (click)="mostrar3=false"  (click)="mostrar4=true" >
                  Versionar  </button>
                  <button type="button" class="btn btn-danger" data-toggle="modal"    (click)="mostrar1=false" (click)="mostrar2=true" (click)="mostrar3=true"  (click)="mostrar4=false"   (click)="RemoveRecord(item1)">
                    Eliminar  </button>



        </td>
      </tr>
    </tbody>
</table>








</div>


<div  *ngIf="mostrar4">
 
  <button type="button" class="btn btn-danger"   (click)="mostrar1=false" (click)="mostrar2=true" (click)="mostrar3=true"  (click)="mostrar4=false"  >
    volver  </button>
  <table class="table table-striped a8 table-hover  table-condensed" >
    <thead>
      <tr>
        <th>Criterio</th>
        <th>Poneracion</th>
        <th>no cumple</th>
        <th> cumple</th>
        



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item2 of criterios">
        <td>   {{item2.Criterio}}</td>
        <td> {{item2.Ponderacion}} </td>
        <td>
            <button type="button" class="btn btn-danger"   (click)="nocumple(item2)"   >
                no cumple  </button>
        
        </td>
        <td>
            <button type="button" class="btn btn-primary"   (click)="cumplio(item2)"  >
                cumplio  </button>
        
        </td>


    

      </tr>
    </tbody>
</table>

<button type="button" class=" btn-warning" data-toggle="modal" data-target="#myModal6" >
    Evaluacion  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal6">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="l1">estados de los criterios</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
    
    
          <table class="table table-striped a8 table-hover  table-condensed" >
            <thead>
              <tr>
                <th>criterio</th>
                <th>Ponderacion</th>
                <th>valor</th>


          
    
    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of observacion1">
                <td>   {{item.Criterio}}</td>
                <td> {{item.Ponderacion}} </td>
                <td>   {{item.Valor}}</td>
                <td>
    
                        <button type="button" class="btn btn-warning"   (click)= "validar(item)"  >
                        validar </button>
    
    
    
                </td>
              </tr>
            </tbody>
        </table>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"   (click)= "limpiar()" >Close</button>
    
          </div>
    
        </div>
      </div>
    </div>





</div>


</div>

 </div>




