.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
.icono2 {
    width: 24px;
    height: 24px;
}

.l1 {
  font: oblique bold 120% cursive;
}
.l2 {
font: oblique bold 120% cursive;
}
